* {
	box-sizing: border-box;
	margin: 0;
	/*padding: 0;*/
}

body {
	background-image: url('../img/bgim.jpg');
}

.recipe, .ingredients, .steps {
	width: 100%;
}

.recipe {
	background-color: rgba(137, 178, 162, 0.9);
}

.ingredients {
	background-color: rgba(250, 250, 212, 0.9);
}

.steps {
	background-color: rgba(251, 121, 104, 0.9);
}

article {
	width: 1200px;
	margin: auto;
	background-color: rgba(255, 255, 255, .9);
	padding: 30px;
}

.principal-photo {
	width: 900px;
	height: auto;
	display: block;
	margin: 10px auto;
}

.source {
	font-size: 12px;
	text-align: right;
	width: 900px;
	margin: 10px auto;
}

h1 {
	font-size: 35px;
	padding: 10px;
	text-align: center;
	width: 900px;
	margin: 10px auto;
	background-color: #b0d1b2;
}

.info {
	width: 950px;
	margin: 10px auto;
}

p, li {
	font-family: Tahoma, sans-serif;
	font-size: 20px;
}

h3 {
	color: #070;
	font-size: 24px;
}