body {
	width: 1000px;
	margin: auto;
}

.principal-photo {
	width: 725px;
	height: auto;
}

h1 {
	background-color: #aee;
}

p, li {
	font-family: Tahoma, sans-serif;
	font-size: 20px;
}

h3 {
	color: #080;
}